.navbar {
   display: flex;
   justify-content: space-between;
   background-color: rgb(47, 207, 213);
   color: white;
   padding: 20px;
}

.product-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 20px;
   padding: 90px;
}

.card img {
   height: 130px;
}

.card {
   padding: 10px;
   background-color: white;
   box-shadow: 0px 0px 5px grey;
   text-align: center;
   cursor:pointer;
}

.card button {
   background: black;
   color: white;
   padding: 10px;
   cursor: pointer;
}

.modal-backdrop {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   inset: 0;
}

.modal {
   background: white;
   padding: 20px;
   width: 90%;
   max-width: 500px;
}

.cart-item {
   display: flex;
   align-items: center;
   gap: 20px;
}

.cart-item img {
   height: 50px;
}

.close-btn {
   background-color: pink;
   padding: 5px;
   color: white;
   font-size: 10px;
}

.btn-remove-cart-item {
   background-color: grey;
   padding: 20px;
   color: white;
}

.card:hover {
   transition: 1s ease;
   transform: translateY(-20px);
}

.navbar button {
   background-color: rgb(229, 190, 127);
   font-size: 15px;
   border: 3px solid cadetblue;
   border-radius: 20px;
   padding: 14px;
}

.navbar button:hover {
   color: red;
}